* {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.btn-default {
    border-radius: 4px;
    background-color: #FA7D00;
    color: white;
    height: 25px;
    line-height: 25px;
    padding: 0px 10px;
    outline: none;
    border: none;
    float: right;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #F0F0F0;
}

header .top-background {
    width: 100%;
    background: #F0F0F0;
}

header .top {
    width: 800px;
    margin: auto;
    display: flex;
    position: relative;
}

header .top .presentation .logo {
    font-size: 20px;
    font-weight: 900;
}

header .top .presentation .logo span:nth-child(1) {
    color: #FA7D00;
}

header .top .presentation h2 {
    margin-top: 30px;
}

header .top .presentation p {
    margin-top: 10px;
}

header .top  figure {
    margin-right: 200px;
    /* border: solid 1px lime; */
}

header .top .telephone {
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    padding: 0px 10px;
    background-color: #00151E;
    border-radius: 4px;
    position: absolute;
    right: 50px;
}

header .top .telephone span:nth-child(1) {
    color: #FA7D00;
}

header .top .telephone span:nth-child(2) {
    color: white;
}

header .nav-background {
    width: 100%;
    background: #0D2935;
}

header .nav-background nav {
    width: 800px;
    margin: auto;
}

header .nav-background nav ul {
    height: 35px;
    color: white;
    align-items: stretch;
    line-height: 35px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header .nav-background nav ul li {
    padding: 0px 15px;
}

header .nav-background nav ul li:hover {
    background-color: #FA7D00;
    cursor: pointer;
}

main {
    display: flex;
    width: 800px;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

main article {
    border: solid 5px #F0F0F0;
    width: 210px;
}

main article figure figcaption {
    background-color: #0D2935;
    color: white;
    height: 30px;
    line-height: 30px;
    margin-top: -4px;
}

main article figure img {
    width: 200px;
    height: 100px;
}

main article > div {
    padding: 5px 10px 10px;
}

main article > div p {
    font-size: 13px;
    margin-top: 10px;
}

footer {
    background-color: #0D2935;
}

footer .footer-wrapper {
    width: 800px;
    margin: auto;
    color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

footer .footer-wrapper > section {
    width: 350px;
    padding: 0px 10px;
}   

footer .footer-wrapper > section:nth-child(2) {
    border-left: solid 2px #00151E;

}

footer .footer-wrapper > section > h4 {
    font-weight: 800;
} 

footer .footer-wrapper > section > h5 {
    margin: 8px 0px;
}   

footer .footer-wrapper > section > form input {
    width: 100%;
    background-color: #00151E;
    border: none;
    outline: none;
    height: 30px;
    line-height: 30px;
    margin: 2px;
    padding: 0px 5px;
    color: lightgrey;
} 

footer .footer-wrapper > section > form textarea {
    width: 100%;
    background-color: #00151E;
    border: none;
    outline: none;
    line-height: 30px;
    margin: 2px;
    padding: 0px 5px;
    color: lightgrey;
} 

footer .footer-wrapper > section > table {
    background-color: #00151E;
    width: 100%;
    padding: 10px;
    font-size: 13px;
}

footer .footer-wrapper > section > table td {
    padding: 3px 0px;
} 