*, *::before, *::after {
    box-sizing: inherit;
    font-family: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 1000px;
    margin: auto;
}

.btn-default {
    color: white;
    background-color: #00A48F;
    outline: none;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

header {
    background-color: #00A48F;
    padding: 0px 50px;
}

header div.page-title {
    color: white;
    font-size: 24px;
    line-height: 60px;
    display: flex;
    font-weight: 500;
    padding-top: 30px;
}

header div.page-title h1 {
    margin-left: 14px;
}

header div.page-title i {
    font-size: 46px;
}

header nav {
    color: white;
    padding: 20px 0px 40px;
}

header nav ul {
    background-color: #00BBA7;
    display: inline-flex;
    padding: 14px 35px;
}

header nav ul li {
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin: 0px 10px;
}

section.welcome-section {
    background-color: #F2F2F2;
    padding: 50px 35px;
}

section.welcome-section h1 {
    font-size: 34px;
    text-align: center;
    padding-bottom: 30px;
}

section.welcome-section p {
    color: #777;
    font-size: 14px;
    text-align: justify;
}

section.top-section {
    display: flex;
    padding: 60px 0px;
    justify-content: space-between;
}

section.top-section article {
    flex: 0 0 30%;
    text-align: center;
}

section.top-section article h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

section.top-section article p {
    color: #555;
    font-size: 14px;
    margin-bottom: 20px;
}

section.middle-section {
    display: flex;
    padding: 0px 0px;
    justify-content: space-between;
    
}

section.middle-section article {
    flex: 0 0 24%;
    text-align: center;
    /* background-color: lime; */
}

section.middle-section article img {
    width: 100%;
}

section.middle-section article h5 {
    margin: 20px 0px 10px;
}

section.middle-section article p {
    margin: 20px 0px 25px;
    padding: 0px 4px;
    color: #555;
    font-size: 13px;
}

section.bottom-section {
    background-color: #F2F2F2;
    margin-top: 40px;
}

section.bottom-section h1 {
    font-size: 34px;
    text-align: center;
    padding: 50px 0px 20px;
}

section.bottom-section .bottom-section-icons {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    padding: 20px 0px 50px;
}

section.bottom-section .bottom-section-icons .icon {
    background-color: #00BBA7;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    text-align: center;
    line-height: 90px;
}

section.bottom-section .bottom-section-icons .icon i {
    font-size: 70px;
    color: white;
}

footer {
    background-color: #00A48F;
    height: 200px;
    text-align: center;
}

footer h6 {
    padding: 60px 0px 20px;
    color: #DDD
}

footer div.footer-icons {
    padding: 20px 0px 60px;
    display: flex;
    width: 150px;
    margin: auto;
    justify-content: space-between;
}

footer div.footer-icons .social-media-icon {
    background-color: #00BBA7;
    padding: 5px;
    color: white;
    
}